.book-card{

    background:white;

    border-radius:10px;

    overflow:hidden;

    box-shadow:0 5px 12px rgba(0,0,0,.1);

}

.book-card img{

    width:100%;

    height:260px;

    object-fit:cover;

}

.book-info{

    padding:18px;

}

.book-info h3{

    margin-bottom:10px;

}

.book-info p{

    color:#777;

    margin-bottom:10px;

}

.book-info span{

    display:inline-block;

    background:#2563eb;

    color:white;

    padding:4px 10px;

    border-radius:20px;

    font-size:13px;

    margin-bottom:15px;

}

.book-info button{

    width:100%;

    padding:10px;

    background:#2563eb;

    color:white;

    border:none;

    border-radius:6px;

    cursor:pointer;

}