.authors{

    background:#fff;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 12px rgba(0,0,0,.08);

}

.page-header{

    display:flex;

    justify-content:space-between;

    margin-bottom:20px;

}

.add-btn{

    background:#2563eb;

    color:#fff;

    border:none;

    padding:10px 20px;

    border-radius:8px;

    cursor:pointer;

}

.search{

    width:320px;

    padding:12px;

    margin-bottom:20px;

    border:1px solid #ddd;

    border-radius:8px;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:#2563eb;

    color:white;

    padding:15px;

}

td{

    padding:15px;

    border-bottom:1px solid #ddd;

}

.edit{

    background:#10b981;

    color:white;

    border:none;

    padding:8px 15px;

    border-radius:6px;

    margin-right:8px;

}

.delete{

    background:#ef4444;

    color:white;

    border:none;

    padding:8px 15px;

    border-radius:6px;

}