.users{

    background:white;

    padding:25px;

    border-radius:12px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.users-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.add-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:8px;

    cursor:pointer;

}

.search-box{

    margin-bottom:20px;

}

.search-box input{

    width:320px;

    padding:12px;

    border-radius:8px;

    border:1px solid #ccc;

}

table{

    width:100%;

    border-collapse:collapse;

}

th{

    background:#2563eb;

    color:white;

    padding:15px;

}

td{

    padding:15px;

    border-bottom:1px solid #ddd;

}

.active{

    background:#16a34a;

    color:white;

    padding:6px 12px;

    border-radius:20px;

}

.lock{

    background:#ef4444;

    color:white;

    padding:6px 12px;

    border-radius:20px;

}

.edit{

    background:#10b981;

    color:white;

    border:none;

    padding:8px 15px;

    border-radius:6px;

    margin-right:8px;

    cursor:pointer;

}

.delete{

    background:#ef4444;

    color:white;

    border:none;

    padding:8px 15px;

    border-radius:6px;

    cursor:pointer;

}