.category-list{
    margin:60px 0;
}

.category-list h2{
    margin-bottom:20px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.category-card{
    background:white;
    padding:25px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 5px 12px rgba(0,0,0,.1);
    cursor:pointer;
    transition:.3s;
}

.category-card:hover{
    transform:translateY(-5px);
}