.header{

    height:75px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    box-shadow:0 2px 8px rgba(0,0,0,.08);

}

.search{

    width:320px;

    padding:12px;

    border-radius:30px;

    border:1px solid #ddd;

}

.right{

    display:flex;

    align-items:center;

    gap:20px;

}

.right img{

    width:45px;

    height:45px;

    border-radius:50%;

}

.right p{

    font-size:13px;

    color:#777;

}

.bell{

    font-size:24px;

    cursor:pointer;

}