.books{

    background:#fff;
    padding:25px;
    border-radius:10px;

}

.book-form{

    display:grid;
    grid-template-columns:repeat(5,1fr);
    gap:10px;
    margin-bottom:20px;

}

.book-form input{

    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;

}

.book-form button{

    background:#2563eb;
    color:#fff;
    border:none;
    border-radius:6px;
    cursor:pointer;

}

table{

    width:100%;
    border-collapse:collapse;

}

th{

    background:#2563eb;
    color:white;
    padding:12px;

}

td{

    padding:12px;
    border-bottom:1px solid #eee;

}

.edit-btn{

    background:#f59e0b;
    color:white;
    border:none;
    padding:7px 12px;
    margin-right:8px;
    border-radius:5px;
    cursor:pointer;

}

.delete-btn{

    background:#ef4444;
    color:white;
    border:none;
    padding:7px 12px;
    border-radius:5px;
    cursor:pointer;

}