.users{

    background:white;
    padding:25px;
    border-radius:10px;

}

table{

    width:100%;
    border-collapse:collapse;

}

th{

    background:#2563eb;
    color:white;
    padding:12px;

}

td{

    padding:12px;
    border-bottom:1px solid #eee;

}

.status-btn{

    background:#2563eb;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:5px;
    cursor:pointer;
    margin-right:10px;

}

.delete-btn{

    background:#ef4444;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:5px;
    cursor:pointer;

}